body{
    font-family: 'Roboto', sans-serif;
}
#title-first{
    color: black;
    font-size: 20px; 
}
#title-last{
    color: #FA804C;
}
#logo-size img{
    width: 100px;
}
#input-meal-name{
    background-color: #F8F7F5
}
li{
    font-size: large;
}
ul{
    list-style-type:none;
}
.instructions{
    text-align: justify;
}
.icon-color{
    color: tomato;
}
#search-btn{
    color: white;
    background-color: tomato;
}
#warning-text{
    color:  rgb(15, 11, 10);
    padding-left: 2%;
    height: 100%;
}
.meal-image{
    width: 100%;
}
.meal-title{
    text-align: center;
    margin-top: 10px;
}
.meal-card{
    border-radius: 10px;
    background-color: #F8F7F5;
    height: 100%;
    overflow: hidden;
    box-shadow:1px 3px 10px gray;
}
#meal-details{
    display: none;
    margin-bottom: 15px;
    background-color: #F8F7F5;
    padding: 20px;
    border-radius: 10px;
}
.meal-details-image{
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}
.meal-details-title{
    margin-top: 15px;
    color: #363958;
    font-weight: 600;
}